.page {
    outline: 1px solid rgb(202, 247, 3);
    padding: 28px 48px 24px;
    background-color: #2A2C2F;
    font-family: "Inter";
    color: #FFFFFF;
    max-width: 1280px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 769px) {
    .page {
        /* padding: 28px 24px 24px; */
    }
}


/* 
@media screen and (max-width: px) {
    .page {
      
    }
}

@media screen and (max-width: px) {
    .page {
     
    }
} */