.footer {
    width: 100%;
    margin: 0 auto 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .footer {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 700px) {
    .footer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}